* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  color: #333;
}

#root {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}
.logo,
.card,
.read-the-docs {
  display: none;
}
html {
  color-scheme: light;
}